@model IEnumerable<Chess.Web.Models.Game.HistoricalMove>
<div class="col-md-6">
    <h2>History</h2>
    <table cellspacing="100" class="table table-condensed">
        <thead>
            <tr>
                <td></td>
                <td>White</td>
                <td>Black</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var move in Model)
                {
                <tr>
                    <td>@move.TurnNumber</td>
                    <td>@move.White</td>
                    <td>@move.Black</td>
                </tr>
                }
        </tbody>
    </table>
</div>
