<div class="row">
    <div class="col-md-12">
        <form method="get" asp-action="ChoosePiece">
            <span>Enter game Id</span>
            <input type="text" name="gameId" value="" />
            <input type="submit" value="Play" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="StartNew">
            <input type="submit" value="Start new game" />
        </form>
    </div>
</div>