<div class="row">
    <div class="col-md-12">
        <h1>Start a new game...</h1>
        <form method="post" asp-action="StartNew">
            <input type="submit" class="btn btn-lg btn-success" value="Start new game" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>... or join a game</h1>
        <form method="get" asp-action="ChoosePiece">
            <span>Enter game Id</span>
            <input type="text" name="gameId" value="" />
            <input type="submit" class="btn btn-success" value="Play" />
        </form>
    </div>
</div>
