body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.board {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height:400px;
    width:400px;
    margin-top: 50px;
    padding: 0;
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.board-square {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
}
.board-square img{
    height:50px;
}
.board-square-white {
    color: #b58863;
    background-color: #f0d9b5;
}

.board-square-black {
    color: #f0d9b5;
    background-color: #b58863;
}

.board-row-clear {
    clear: both;
}
