@{
    ViewBag.Title = "Links";
}

<div class="row">
    <div class="class-md-12">
        <h1>Links from #TechDaysNL</h1>
        <div>
            <h4>Docker</h4>
            <ul>
                <li><a href="https://hub.docker.com/">hub.docker.com</a></li>
                <li><a href="https://docs.docker.com/docker-trusted-registry/">Trusted Registry</a></li>
                <li><a href="https://docs.docker.com/registry/">Registry</a> (docker image)</li>
                <li><a href="https://aka.ms/containers">Windows Containers</a></li>
            </ul>
        </div>        
        <div>
            <h4>Azure</h4>
            <ul>
                <li><a href="https://azure.microsoft.com/en-us/documentation/services/container-service/">Container Service</a></li>
                <li><a href="https://azure.microsoft.com/en-us/services/container-registry/">Container Registry</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/videos/using-azure-container-service-with-docker/">Container service (video)</a></li>
                <li><a href="https://azure.microsoft.com/en-us/marketplace/partners/canonicalandmsopentech/dockeronubuntuserver1404lts/">Docker on Ubuntu</a></li>
                <li><a href="https://azure.microsoft.com/en-us/marketplace/partners/docker/dockerdatacenterdocker-datacenter/">Docker Datacenter</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/vs-azure-tools-docker-machine-azure-config/">Docker machine</a></li>
            </ul>
        </div>
        <div>
            <h4>.NET Core</h4>
            <ul>
                <li>Get it at <a href="https://dot.net/core">dot.net/core</a></li>
                <li><a href="https://blogs.msdn.microsoft.com/stevelasker/2016/06/13/building-net-core-linux-docker-images-with-visual-studio-team-services">Steve Lasker - building .NET Core Linux with VSTS</a></li>
            </ul>
        </div>
        <div>
            <h4>VSTS</h4>
            <ul>
                <li><a href="https://www.visualstudio.com">Info</a></li>
                <li>Official VSTS-Agent image: <a href="https://hub.docker.com/r/microsoft/vsts-agent/">microsoft/vsts-agent</a></li>
                <li>The VSTS-Agent image I found first: <a href="https://hub.docker.com/r/giggio/vsts-agent/">giggio/vsts-agent</a></li>
            </ul>
        </div>
        <div>
            <h4>Application Insights</h4>
            <ul>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/app-insights-overview/">Getting started</a></li>
                <li><a href="https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started">ASP.NET Core</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/app-insights-analytics/">Analytics</a></li>
            </ul>
        </div>
    </div>
</div>