body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


.board {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 400px;
    width: 400px;
    margin-top: 50px;
    padding: 0;
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.board-square {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
}

.selected-square {
    border-color: red;
    border-style: solid;
    border-width: thin;
}
.selectable-square {
    border-color: green;
    border-style: dashed;
    border-width: 1.5px;
}

.board-square img {
    height: 50px;
}

.board-square a {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.board-square-white {
    color: #b58863;
    background-color: #f0d9b5;
}

.board-square-black {
    color: #f0d9b5;
    background-color: #b58863;
}

.board-row-clear {
    clear: both;
}

footer p {
    display:inline-block;
    margin-right:2em;
}
.info-after-board{
    margin-top:1em;
}
.move-confirm-cancel  div{
    display:inline-block
}